## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\junio\Data Analytics CLASS\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuatapere,NZ,-46.1333,167.6833,34.93,90,44,5.77,scattered clouds
1,1,Bubaque,GW,11.2833,-15.8333,80.58,80,100,14.12,overcast clouds
2,2,Kahului,US,20.8947,-156.4700,84.97,84,16,10.00,few clouds
3,3,Cap Malheureux,MU,-19.9842,57.6142,68.47,84,84,5.01,light rain
4,4,Busselton,AU,-33.6500,115.3333,58.59,64,100,3.04,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bubaque,GW,11.2833,-15.8333,80.58,80,100,14.12,overcast clouds
2,2,Kahului,US,20.8947,-156.4700,84.97,84,16,10.00,few clouds
6,6,Marzuq,YE,14.4000,46.4667,79.23,52,100,6.87,overcast clouds
7,7,Jatai,BR,-17.8814,-51.7144,78.62,33,84,4.52,broken clouds
10,10,Dingle,PH,10.9995,122.6711,76.33,91,97,0.63,overcast clouds
13,13,Albany,US,42.6001,-73.9662,86.58,36,23,3.47,few clouds
15,15,Torbay,CA,47.6666,-52.7314,70.88,88,100,1.01,overcast clouds
19,19,Narasannapeta,IN,18.4167,84.0500,77.58,89,100,6.22,overcast clouds
20,20,Vanimo,PG,-2.6741,141.3028,76.24,89,98,4.81,overcast clouds
31,31,Sioux Lookout,CA,50.1001,-91.9170,83.21,34,0,8.97,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bubaque,GW,80.58,overcast clouds,11.2833,-15.8333,
2,Kahului,US,84.97,few clouds,20.8947,-156.4700,
6,Marzuq,YE,79.23,overcast clouds,14.4000,46.4667,
7,Jatai,BR,78.62,broken clouds,-17.8814,-51.7144,
10,Dingle,PH,76.33,overcast clouds,10.9995,122.6711,
13,Albany,US,86.58,few clouds,42.6001,-73.9662,
15,Torbay,CA,70.88,overcast clouds,47.6666,-52.7314,
19,Narasannapeta,IN,77.58,overcast clouds,18.4167,84.0500,
20,Vanimo,PG,76.24,overcast clouds,-2.6741,141.3028,
31,Sioux Lookout,CA,83.21,clear sky,50.1001,-91.9170,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace(r'^s*$', float('NaN'), regex = True)
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bubaque,GW,80.58,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
2,Kahului,US,84.97,few clouds,20.8947,-156.4700,Maui Seaside Hotel
7,Jatai,BR,78.62,broken clouds,-17.8814,-51.7144,Hotel Califórnia
10,Dingle,PH,76.33,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
15,Torbay,CA,70.88,overcast clouds,47.6666,-52.7314,Gallows Cove
...,...,...,...,...,...,...,...
681,Todos Santos,MX,76.66,clear sky,23.4500,-110.2167,Hotel California Todos Santos
683,Parnarama,BR,81.55,broken clouds,-5.6817,-43.0933,Hotel São Luiz
686,Paris,FR,74.14,clear sky,48.8534,2.3488,Britannique Hotel - Paris Centre
687,Veraval,IN,81.21,overcast clouds,20.9000,70.3667,Lords Inn Somnath
688,Carman,CA,82.89,few clouds,49.4992,-98.0016,"Bell Aura Bed, Breakfast & Bistro"

In [11]:
# 8a. Create the output File (CSV)
output_data_file = r"C:\Users\junio\Data Analytics CLASS\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))